[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
openpyxl = "*"
pytest = "*"
matplotlib = "*"
xarray = "*"
xlsxwriter = "*"
funcsigs = "*"
pydoe = "*"
xlrd = "*"
pysd = {editable = true,ref = "master",git = "https://github.com/rogersamso/pysd.git"}
ipykernel = "*"

[dev-packages]
pytest = "*"
cython = "*"

[requires]
python_version = "3.7"
